/* 
    Gutenberg Styles
 */

.wp-block-columns.bv-two-col {
    display: flex;
    margin: auto;
    align-items: center;
    /* justify-content: flex-end; */
    width: 100%;
}

.wp-block-column.subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wp-block-column.subtext h2 {
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 46px;
    margin-bottom: 46px;
    letter-spacing: -0.02em;
}

.wp-block-group.bv-headings p {
    font-size: 1.8rem;
    line-height: 7.2rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 100;
}

.bv-modaL-link p button {
    background: transparent;
    border: transparent;
}

.wp-block-column.subtext.color-one {
    background-color: rgba(211, 200, 192, .9);
    margin: 0;
}

.wp-block-column.subtext.color-two {
    background-color: #0e3648;
}

@media (min-width: 600px) {
    .wp-block-column:nth-child(2n) {
        margin: 0;
    }
    @media (min-width: 782px) {
        .wp-block-column:not(:first-child) {
            margin: 0;
        }
        .kt-row-column-wrap {
            padding: 0;
        }
    }
    @media (min-width: 600px) {
        .wp-block-column {
            /* flex-basis: calc(50% - 16px); */
            flex-grow: 1
        }
    }
}

/* --------------------------

BUTTONS  ----------------*/

.wp-block-group.bv_button_group>div>.wp-block-button.is-primary>.wp-block-button__link, 
.wp-block-button.wp-block-button.is-primary>.wp-block-button__link {
    height: 4.8rem;
    padding: 0 1.6rem;
    /* background-color: #222;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.4rem;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #59B9E5;
    border-radius: 4px;
    font-weight: 600;
    width: 20rem;
    position:relative;
    overflow:hidden;
    margin:20px 0;
}

.wp-block-group.bv_button_group>div>.wp-block-button.is-primary>.wp-block-button__link:hover, .wp-block-button.wp-block-button.is-primary>.wp-block-button__link:hover {
    background-color: #3e82a0;
}

.wp-block-group.bv_button_group>div>.wp-block-button.is-secondary>.wp-block-button__link {
    background: transparent;
    height: 4.8rem;
    padding: 0 1.6rem;
    /* background-color: #222;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    width: 20rem;
    border: 2px solid #fff;
    margin-left: 50px;
}

.wp-block-group.bv_button_group>div>.wp-block-button.is-secondary-blue>.wp-block-button__link {
    background: transparent;
    height: 4.8rem;
    padding: 0 1.6rem;
    /* background-color: #222;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #59B9E5;
    border-radius: 4px;
    font-weight: 600;
    width: 20rem;
    border: 2px solid #59B9E5;
    margin:20px 0;
    margin-left: 30px;
    
}

.wp-block-group.bv_button_group>div>.wp-block-button.is-primary>.wp-block-button__link:after, .wp-block-button.wp-block-button.is-primary>.wp-block-button__link:after {
    content: '';
    background-color: rgba(255, 255, 255, .5);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -10px;
    transition: right 1s;
}

.wp-block-group.bv_button_group>div>.wp-block-button.is-primary>.wp-block-button__link:before, .wp-block-button.wp-block-button.is-primary>.wp-block-button__link:before {
    content: '';
    background-color: rgba(255, 255, 255, .2);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 4px;
    transition: right 1s;
}
.wp-block-group.bv_button_group>div>.wp-block-button.is-primary>.wp-block-button__link:hover:before, 
.wp-block-button.wp-block-button.is-primary>.wp-block-button__link:hover:before,
.wp-block-group.bv_button_group>div>.wp-block-button.is-primary>.wp-block-button__link:hover:after, 
.wp-block-button.wp-block-button.is-primary>.wp-block-button__link:hover:after {
    right: -50px;
}
.wp-block-group.bv_button_group>div>.wp-block-button.is-secondary-blue>.wp-block-button__link:hover {
    color: #fff;
    background-color: #59B9E5;
}

.wp-block-group.bv_button_group>div {
    display: flex;
}

/* Images */

@media screen and (max-width:789px) {
    .wp-block-image {
        display: flex!important;
        justify-content: center!important;
    }
}