@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}


/*
    General Styles
*/
.container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

p {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: 'Montserrat', sans-serif;
}
a:link , a:visited , a:hover , a:active {
    text-decoration: none;
    color:inherit;
}
.dark {
    background-color: #000;
    color: #fff;
}

/*
    Navbar
*/

nav {
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;
    background: rgb(211, 200, 192);
    background: linear-gradient(174deg, #00aeefb3 0%, rgba(255, 255, 255, .8) 30%, rgba(211, 200, 192, .9) 90%, rgba(0, 174, 239, .7) 100%);
    /* border-bottom: 5px solid rgba(56,179,237,.80); */
    -moz-box-shadow: 0 0 30px #000000;
    -webkit-box-shadow: 0 0 30px #000000;
    box-shadow: 0 0 30px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 15px #fff;
    font-size: 2.2rem;
}

.topNav {
    display: flex;
    padding: 3px 0;
    background-color: #333;
}

.topNav .navLeft {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .5px;
}

a.xSmallPromo {
    background-color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 2px 5px;
    text-transform: uppercase;
    display: block;
    margin: auto;
}

.bottomNav {
    flex-grow: 1;
    margin: auto;
    display: flex;
}

.bottomNav .container,
.topNav .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 0;
}

ul.navRight {
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    align-items: center;
    position: relative;
}

ul.navRight li,
ul.navRight li a {
    margin: auto 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

ul.navRight span {
    margin: auto 0;
    padding: 30px 20px 15px;
}

ul.navRight .navParent ul {
    display: none;
}

ul.navRight .navParent:hover ul {
    display: block;
    position: absolute;
    background-color: rgba(56, 179, 237, .80);
    color: #fff;
    top: 97px;
}

ul.navRight ul span {
    margin: auto 0;
    padding: 30px 20px;
}

.navParent ul span {
    color: #fff;
}

.navParent ul li:hover {
    background-color: rgba(56, 179, 237, .80);
}

.navLeft img {
    max-height: 80px;
}

/*
    Header
*/
header {
    margin-top: 130px;
    display: flex;
    height: calc(80vh - 130px);
    background: rgb(211, 200, 192);
    background: linear-gradient(59deg, rgba(9, 9, 9, 1) 8%, rgba(7, 88, 119, 1) 53%, rgba(75, 242, 255, 1) 100%);
    position: relative;
    overflow: hidden;
}

header .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.headerContent {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.headerContent .paulFace {
    object-fit: contain;
    max-width: 95%;
    /* width: 800px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    z-index: 2;
}

img.titleBubbles {
    filter: drop-shadow(0px 0px 20px #fff);
    margin: auto 0 auto -300px;
    height: 300px;
    z-index: 2;
    /* position: relative; */
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    color: #fff;
    text-shadow: 0 0 10px #000000;
    text-transform: uppercase;
}

header h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 5px #000000;
}

/*
    Footer
*/

.footerLower {
    display: flex;
    padding: 15px 0;
    background-color: #333;
}

/*
    Section Styles
*/

/* Side By Side Section*/
.flex-2 .container {
    display: flex;
    padding: 60px 0;
}

.titleSection {
    flex-basis: 50%;
    display: flex;
}

.titleSection h2 {
    margin: auto 50px;
    font-size: 5rem;
    line-height: 5.8rem;
    /* max-width: 320px; */
    text-align: right;
}

.contentBorderRight {
    flex-basis: 50%;
    border-left: 3px solid rgba(56, 179, 237, 1);
}

.contentBorderRight p {
    flex-basis: 50%;
    margin-left: 40px;
    line-height: 3rem;
    padding: 10px 0;
}

.white {
    background-color: #fff;
}

.blue {
    background-color: #59b9e5;
}

/*Quote Section*/
.quote {
    width: 780px;
    max-width: 100%;
    margin: 80px auto;
}

.white {
    background-color: #fff;
    padding: 60px 0;
}

.blue {
    background-color: #59b9e5;
    color: #fff;
}

.flex-2-full {
    display: flex;
    overflow: hidden;
}

#bulletHeader .fifty {
    flex-basis: 50%;
    background-size: cover;
    height: 550px;
    filter: blur(7px);
}

#bulletHeader .fifty:hover {
    filter: blur(0px);
}

#bulletHeader .fifty.entreprenuers {
    background-image: url('../media/forStartUps.jpeg');
}

#bulletHeader .fifty.established {
    background-image: url('../media/Heroimage.jpeg');
}

#bulletServices .fifty {
    padding: 60px 40px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #000;
}

#bulletServices .white.fifty {
    align-items: flex-end;
}

#bulletServices .fifty-item {
    min-height: 120px;
    display: flex;
    flex-direction: column;
}

#bulletServices .fifty-item h2 {
    font-size: 3rem;
    line-height: 3.8rem;
    text-transform: uppercase;
    margin: auto 0;
    width: 600px;
    max-width: 100%;
}

#bulletServices .fifty-item p {
    display: none;
}

#bulletServices .fifty-item:hover h2 {
    display: none;
}

#bulletServices .fifty-item:hover p {
    margin: auto 0;
    display: block;
    width: 600px;
    max-width: 100%;
}

@media screen and (max-width:750px) {
    #bulletServices {
        flex-direction: column;
        max-width: 100%;
    }

    #bulletServices .white.fifty {
        align-items: center;
        margin: auto;
    }

    #bulletServices .blue.fifty {
        align-items: center;
        margin: auto;
    }

    #bulletServices .fifty-item {
        max-width: 100%;
    }
}

.quote p {
    font-size: 2.2rem;
    line-height: 3rem;
    color: #333;
}

.authorCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.authorCardCopy {
    display: flex;
    flex-direction: column;
}

.authorName {
    font-size: 1.8rem;
    color: #000;
    font-weight: bold;
}

.authorTitle {
    font-size: 1.4rem;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.authorImg {
    width: 100px;
    margin-right: 15px;
}

/*=============================SANDBOX STYLES===================*/

.hero {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 130px;
    justify-content: center;
    background-color: #222;
    height: 100vh;
}

.herotext h1,
.slideIn {
    font-size: 4.62vw;
    font-weight: 600;
    line-height: 1.2em;
    color: #fff;
    text-shadow: 0 0 5px #000;
    width: 57vw;
}

.herotext p {
    max-width: 700px;
    padding-top: 40px;
    line-height: 1.5em;
    color: #fff;
}

.herotext {
    position: relative;
    z-index: 1;
    animation: slide 5s cubic-bezier(0.075, 0.82, 0.165, 1) normal forwards;
    margin-top: 10%;
}

@keyframes slide {
    from {
        left: 0px;
        color: transparent;
    }
    to {
        left: 300px;
    }
}

.services {
    margin: auto;
    height: 100vh;
    display: flex;
    background-image: url(../media/forStartUps.jpeg);
    background-size: cover;
    background-attachment: fixed;
    width:100%;
}
.services .container{display:flex; align-items: flex-start;
    justify-content: space-between;}
.services .verticalLine {background-color:#fff; height:550px; width:3px; box-shadow: 0 0 5px #000;}
.services h1 {
    font-size: 3.61vw;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 5px #000;
    margin: auto 100px;
    text-align: center;
}


.newbiz {
    display:none;
    background-color: #FAF9F8;
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
}

.serviceslist {
    display: flex;
    flex-direction: column;
    
}

.container h4 {
    font-weight: 100;
    font-size: 3.2rem;
    margin: 140px 0 40px;
    text-transform: UPPERCASE;
    letter-spacing: 0.2em;
}

.serviceslist h3 {
    font-weight: 700;
    font-size: 1.62vw;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 40px;
    letter-spacing: -0.02em;
}

.serviceslist p {
    max-width: 360px;
    padding-bottom: 40px 0;
    font-weight: 100;
    margin-bottom: 56px;
    line-height: 28px;
}




.servicesNav ol {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.servicesNav ol li {
    font-weight: 100;
    font-size: 1.62em;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px dotted #333;
}

.servicesNav ol li:hover,
.servicesNav ol li.active {
    color: #59B9E5;
    border-bottom: 1px dotted #59B9E5;
}

.gridcontent {
    display: none;
    justify-content: space-between;
    animation: slide 5s cubic-bezier(0.075, 0.82, 0.165, 1) normal forwards;
}
.link{
 
    font-size: 1.1em;
    font-weight: 700;
  
   
    letter-spacing: 1px;
    color: #000;
    background-image: url(../media/small-arrow.png);
    background-repeat: no-repeat;
    padding-right: 20px;
    background-position: right;
    text-transform: uppercase;
}

.link:hover {
    font-size: 1.1em;
border-bottom:2px solid #222;
font-weight:600;
padding-bottom: 2px;
}
.gridcontent.active {
    display: flex;
    align-items: center;
}

.gridimg {
    float: right;
}

.oldbiz {
    width:100%;
    height:60vh;
    background-color:#222;
    margin:20px 0;
}

.active {
    display:flex;
}

.mission-statement {
    display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  

  height:70vh;

}
.mission-statement p {
    max-width:440px;
 
    font-weight: 400;
    margin-bottom: 60px;
    line-height: 28px;
}

.mission-statement h2 {
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 46px;
    margin-top: 86px;
    margin-bottom: 46px;
    letter-spacing: -0.02em;

}


.aboutme-img {
overflow:hidden;
  height:90vh;
  
}
.aboutme-img img {
  object-fit: contain;
  width:80%;
  
 

}
.about-me-text-mini {
    display: flex;
    flex-direction: column;
    width:60vw;
    height:700px;
   
    overflow: hidden;
    padding:20px;
}
.button {
width:20rem;
height: 4.8rem;
  padding:0 1.6rem;
    background-color:#222;
   display:flex;
 align-items: center;
 justify-content: center;
   border-radius:5px;
}
.button a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1vw;
    color:#fff;
    text-align: center;
    
  
}
.about-me-text-mini .link {
    max-width: 100px;
}

.container.shop {
    
    height:100vh;
    width:100%;
    background-color:#59B9E5;
    
}
.products {
    display: flex;
    justify-content: space-evenly;
}
.products-img {
    height:70vh;
    width:500px;
    
}
.products-img img {
    width:100%;
    object-fit: contain;
}

.products-desc {
    display: flex;
    flex-direction: column;

}
.products-desc p{
    max-width:360px;
}